<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" packages="org.graylog2.log4j2" name="example-config">
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%highlight{%-6p}] %c{1} %L │ %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="STDOUT"/>
		</Root>
		<Logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="WARN" additivity="false">
			<AppenderRef ref="STDOUT"/>
		</Logger>
	</Loggers>
</Configuration>