/* Application wide styles */

.map-background {
    -fx-background-color: rgb(5, 50, 58);
}
.white-text {
	-fx-fill: azure;
	-fx-text-fill: azure;
}

.cell {
	-fx-border-color: azure;
	-fx-border-width: 2px;
	-fx-background-color: rgb(5, 50, 58);
}
.cell:hover {
	-fx-background-color: rgb(35, 80, 88);
}