/* Application wide styles */
.scroll-bar {
	-fx-background-color: #2e4052;
}
.scroll-bar .thumb {
	-fx-background-color: derive(#2e4052, 20.0%);
}

/* Re usable styles */
.map-background {
    /*-fx-background-color: rgb(5, 50, 58);*/
    -fx-background-color: #2e4052;
}
.white-background {
    -fx-background-color: white;
}

.white-text {
	-fx-fill: azure;
	-fx-text-fill: azure;
}

/* ActorGraph */
.graph-cell .circle {
	-fx-fill: #88d88d ;
}
.graph-cell .circle:hover {
	-fx-fill: #74f77c ;
}
.graph-edge {
	-fx-stroke: azure ;
}

/* Messages */
.show-seq-diagram-btn {
	-fx-padding: 0.0;
}

.message-table .table-row-cell:odd {
    -fx-background-color: #2e4052;
}
.message-table .column-header {
     -fx-background-color: transparent;
}
.message-table .column-header-background{
    -fx-background-color: derive(#2e4052, 20.0%);
}
.message-table .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: azure;
}
.message-table .table-cell{
    -fx-font-size: 11.0;
    -fx-text-fill: azure;
    -fx-padding: 12.0;
}
.message-table .table-row-cell {
    -fx-background-color: derive(#2e4052, 20.0%);
}
.message-table .table-row-cell:odd {
    -fx-background-color: derive(#2e4052, 10.0%);
}

/* Sequence Diagram */
.actor-cell .label {
	-fx-text-fill: azure;
}
.actor-cell .life-line {
	-fx-stroke: azure;
}
.edge-text {
	-fx-text-fill: azure;
}
.arrow {
	-fx-stroke: azure;
}