/* Application wide styles */

.map-background {
    /*-fx-background-color: rgb(5, 50, 58);*/
    -fx-background-color: #2e4052;
}
.white-background {
    -fx-background-color: white;
}

.white-text {
	-fx-fill: azure;
	-fx-text-fill: azure;
}

.graph-cell .circle {
	-fx-fill: #88d88d ;
}
.graph-cell .circle:hover {
	-fx-fill: #74f77c ;
}
.graph-edge {
	-fx-stroke: azure ;
}